body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 98%);
}

body p {
  color: #a1a1a1;
}

header {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 10px;
}

header h1 {
  margin-top: 0;
  color: hsl(234, 12%, 34%);
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

header .light {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin-bottom: 0;
}

header p {
  margin: 0 auto;
}

section {
  padding: 0 10px;
}

.card {
  position: relative;
  text-align: right;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.card--green {
  box-shadow: 5px 5px 25px rgba(38, 64, 72, 0.25), inset 0px 5px 0px hsl(180, 62%, 55%);
}

.card--red {
  box-shadow: 5px 5px 25px rgba(38, 64, 72, 0.25), inset 0px 5px 0px hsl(0, 78%, 62%);
}

.card--orange {
  box-shadow: 5px 5px 25px rgba(38, 64, 72, 0.25), inset 0px 5px 0px hsl(34, 97%, 64%);
}

.card--blue {
  box-shadow: 5px 5px 25px rgba(38, 64, 72, 0.25), inset 0px 5px 0px hsl(212, 86%, 64%);
}

.card h4 {
  color: #4e5063;
  text-align: left;
  line-height: 0;
}

.card p {
  text-align: left;
}

.card img {
  width: 50px;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  header h1 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (min-width: 769px) {
  header h1 {
    font-size: 36px;
    line-height: 36px;
  }

  header p {
    width: 523px;
  }

  .card {
    width: 450px;
    margin: 20px auto;
  }

  .column {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .card {
    width: 320px;
  }

  footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
}
